
//
// VARIABLES
//

// Colors
$link: #f64d1e;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$hind: "Hind Vadodara", Helvetica, Arial, sans-serif;
$quicksand: Quicksand, Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
